.posts-container {
    margin: 20px auto;
    max-width: 800px;
    width: 35%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.post {
    margin-bottom: 5px;
    padding: 15px;
    padding-bottom: 5px;
}

.post h5 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.post p {
    font-size: 1em;
    color: #666;
}

.comments {
    margin-top: 10px;
}

.comment {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #007bff;
}
